@import url(reset.css);

body {
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;
  background: url("../images/fon.png") no-repeat 50% / cover;
  position: relative;
  z-index: 0;
}
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 21, 21, 0.5);
}

.log_in_form {
  width: 496px;
  height: 100vh;
  padding: 60px 78px 166px;
  margin-left: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(233, 233, 233, 0.25);
  text-align: center;
  z-index: 1;
  position: relative;
}

/* radio*/
.radio-switch {
  width: 340px;
  border: 1px solid rgba(21, 52, 22, 1);
  border-radius: 30px;
  margin-bottom: 80px;
  padding: 1px;
  position: relative;
  display: flex;
}
.radio-switch input {
  display: none;
}

.switch label {
  display: inline-block;
  width: 168px;
  height: 32px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.switch input + label span {
  position: absolute;
  top: 9px;
  left: calc(50% - 13.5px);
  user-select: none;
}
#Ñhoice2 + label span {
  left: calc(50% - 36px);
}
.switch input:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(21, 52, 22);
  width: 168px;
  height: 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s linear;
  z-index: 0;
}

.log_in_form h2 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 29px;
}

/* form*/

.input {
  width: 340px;
  height: 44px;
  border-radius: 30px;
  background: rgb(146, 145, 145);
  padding: 0 20px;
  margin-bottom: 15px;
  border: none;
  box-sizing: border-box;
}
.input:hover {
  background: rgb(167, 164, 164);
}
.input + .input {
  margin-bottom: 21px;
}
.input::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}
.input:focus-visible {
  outline: none;
}
/* form_2"*/
.form_2,
.form_3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form_2 > a {
  display: block;
  cursor: pointer;
  color: rgba(21, 52, 22, 1);
  text-decoration: underline;
}
.checkbox {
  position: relative;
}
.checkbox input {
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.checkbox input + label {
  width: 120px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
}

.checkbox span {
  position: absolute;
  top: 0px;
  left: 25px;
  user-select: none;
}
.checkbox input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid rgb(217, 217, 217);
}
.checkbox input:checked + label::before {
  background-color: rgba(21, 52, 22, 1);
}
.checkbox input:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 8px;
  transform: rotate(38deg);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

/* log_in*/

.log_in input {
  background-color: rgb(21, 52, 22);
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  cursor: pointer;
}
.log_in input:hover {
  background-color: rgb(34, 84, 36);
}
/* form_3"*/

.form_3 {
  justify-content: center;
  gap: 15px;
}

.text {
  color: rgba(21, 52, 22, 1);
}

.form_3 a {
  color: rgba(255, 255, 255, 1);
}
.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.icons li a {
  line-height: 0;
  display: block;
}
.icon {
  fill: rgba(21, 52, 22, 1);
  width: 24px;
  height: 24px;
}
.icon_s {
  width: 14px;
}
.icons > li a:hover .icon {
  fill: rgb(34, 84, 36);
}
